# Customer Churning Using Deep Learning
Dataset Link: https://www.kaggle.com/datasets/blastchar/telco-customer-churn

Churn = customers lost over a period of time
For detailed data exploring, check this article: https://towardsdatascience.com/churn-prediction-with-machine-learning-ca955d52bd8c

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
df = pd.read_csv("customer_churn.csv")
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
6826,7976-CICYS,Male,0,No,No,4,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Credit card (automatic),20.7,83.75,No
2696,5472-CVMDX,Female,0,No,No,68,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,Two year,No,Mailed check,38.9,2719.2,No
6434,6608-QQLVK,Male,0,No,No,1,Yes,No,DSL,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,50.5,50.5,Yes
5727,8707-HOEDG,Female,0,Yes,Yes,70,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Electronic check,110.2,7689.8,No
3897,8015-IHCGW,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Electronic check,115.5,8425.15,No

In [ ]:
df.drop('customerID',axis='columns',inplace=True)

In [ ]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
#Quick glance at above makes me realize that TotalCharges should be float but it is an object. 
#Let's check what's going on with this column
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [ ]:

pd.to_numeric(df.TotalCharges)

ValueError: ignored

In [ ]:
pd.to_numeric(df.TotalCharges,errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [ ]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [ ]:
df1 = df[df.TotalCharges!=' ']
df1.shape
#remove space in total charges column

(7032, 20)

In [ ]:
#Store float values in df1 dataframe
df1.TotalCharges = pd.to_numeric(df1.TotalCharges)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
#check the values
df1.TotalCharges.values

array([  29.85, 1889.5 ,  108.15, ...,  346.45,  306.6 , 6844.5 ])

In [ ]:
#just confirming its data type
df1.TotalCharges.dtypes

dtype('float64')

In [ ]:
# Creating a function to iterate through columns that consist of logical values:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [ ]:
print_unique_col_values(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [ ]:
#Some data cleaning to ensure that all values have proper options
df1.replace('No internet service','No',inplace=True)
df1.replace('No phone service','No',inplace=True)
df1['gender'].replace({'Female':1,'Male':0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
print_unique_col_values(df1)

InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [ ]:
#Converting all values into 0 and 1
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']
for col in yes_no_columns:
  df1[col].replace({'Yes': 1,'No': 0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
for col in df1:
  print(f'{col}: {df1[col].unique()}')

gender: [1 0]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService: [0 1]
MultipleLines: [0 1]
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: [1 0]
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges: [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn: [0 1]

In [ ]:
#One hot encoding other columns
df2 = pd.get_dummies(data=df1, columns=['InternetService','Contract','PaymentMethod'])
df2.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [ ]:
df2.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [ ]:
#In Deep Learning, it is imp to scale the data to ensure that it is between some range
df2.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
1194,1,0,0,0,14,1,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1561,0,0,0,0,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,0
6602,1,0,1,1,40,1,1,0,1,1,...,0,1,0,1,0,0,0,1,0,0
5304,0,1,1,0,13,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
1092,0,0,1,0,70,1,0,1,1,1,...,1,0,0,0,0,1,0,1,0,0

In [ ]:
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

In [ ]:
df2.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
1906,0,0,0,0,0.549296,0,0,0,1,0,...,1,0,0,0,1,0,0,1,0,0
4830,0,0,1,0,0.746479,1,0,1,1,0,...,1,0,0,0,0,1,1,0,0,0
1752,0,0,1,0,0.366197,1,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
5485,0,0,0,0,0.000000,1,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
6572,0,0,1,0,0.943662,1,1,1,1,1,...,1,0,0,0,0,1,0,1,0,0

In [ ]:
#train test split for our ANN
X = df2.drop('Churn',axis='columns')
y = df2['Churn']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [ ]:
X_train.shape

(5625, 26)

In [ ]:
X_test.shape

(1407, 26)

In [ ]:
X_train[:10]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5664,1,1,0,0,0.126761,1,0,0,0,1,...,0,1,0,1,0,0,0,1,0,0
101,1,0,1,1,0.000000,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
2621,0,0,1,0,0.985915,1,0,0,1,1,...,1,0,0,0,0,1,0,1,0,0
392,1,1,0,0,0.014085,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1327,0,0,1,0,0.816901,1,1,0,0,1,...,0,1,0,0,1,0,1,0,0,0
3607,1,0,0,0,0.169014,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
2773,0,0,1,0,0.323944,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
1936,1,0,1,0,0.704225,1,0,1,1,0,...,1,0,0,0,1,0,1,0,0,0
5387,0,0,0,0,0.042254,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
4331,0,0,0,0,0.985915,1,1,0,0,0,...,0,0,1,0,0,1,1,0,0,0

In [ ]:
len(X_train.columns)

26

In [ ]:
import tensorflow as tf
from tensorflow import keras


#model = keras.Sequential([
   # keras.layers.Dense(26, input_shape=(26,)), #input layer
  #  keras.layers.Dense(15, activation='relu'), #hidden layer
 #   keras.layers.Dense(1, activation='sigmoid') #ouput layer
#])

#or this will also work
model = keras.Sequential([
    keras.layers.Dense(26, input_shape=(26,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') #ouput layer
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50)

Epoch 1/50
176/176 [==============================] - 1s 2ms/step - loss: 0.4921 - accuracy: 0.7582
Epoch 2/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4304 - accuracy: 0.7918
Epoch 3/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4205 - accuracy: 0.7984
Epoch 4/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8018
Epoch 5/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4136 - accuracy: 0.8007
Epoch 6/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8041
Epoch 7/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4098 - accuracy: 0.8057
Epoch 8/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4085 - accuracy: 0.8078
Epoch 9/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8075
Epoch 10/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8094
Epoch 11/50
176/176 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8096
Epoch 12/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8124
Epoch 13/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8098
Epoch 14/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8140
Epoch 15/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4029 - accuracy: 0.8121
Epoch 16/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4020 - accuracy: 0.8140
Epoch 17/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4009 - accuracy: 0.8149
Epoch 18/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4002 - accuracy: 0.8149
Epoch 19/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8117
Epoch 20/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8130
Epoch 21/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8140
Epoch 22/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3973 - accuracy: 0.8133
Epoch 23/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8144
Epoch 24/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8144
Epoch 25/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8135
Epoch 26/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3947 - accuracy: 0.8140
Epoch 27/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3941 - accuracy: 0.8156
Epoch 28/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3937 - accuracy: 0.8197
Epoch 29/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8149
Epoch 30/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8142
Epoch 31/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3921 - accuracy: 0.8171
Epoch 32/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8172
Epoch 33/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8158
Epoch 34/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3909 - accuracy: 0.8172
Epoch 35/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3912 - accuracy: 0.8162
Epoch 36/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8164
Epoch 37/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8185
Epoch 38/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3897 - accuracy: 0.8171
Epoch 39/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8174
Epoch 40/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3885 - accuracy: 0.8176
Epoch 41/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8204
Epoch 42/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3880 - accuracy: 0.8188
Epoch 43/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3872 - accuracy: 0.8178
Epoch 44/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3870 - accuracy: 0.8192
Epoch 45/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8217
Epoch 46/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3860 - accuracy: 0.8185
Epoch 47/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8183
Epoch 48/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8212
Epoch 49/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8196
Epoch 50/50
176/176 [==============================] - 0s 2ms/step - loss: 0.3854 - accuracy: 0.8203

In [ ]:
yp = model.predict(X_test)

In [ ]:
#Checking the first few values of prediction
yp[:5]

array([[0.21146682],
       [0.32692033],
       [0.01546153],
       [0.8417178 ],
       [0.38998055]], dtype=float32)

In [ ]:
#Convert probabilistic values to 0,1
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [ ]:
y_pred[:5]

[0, 0, 0, 1, 0]

In [ ]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.88      0.85       999
           1       0.65      0.54      0.59       408

    accuracy                           0.78      1407
   macro avg       0.74      0.71      0.72      1407
weighted avg       0.78      0.78      0.78      1407

# Assignment 2:
Take this dataset for bank customer churn prediction : https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

1) Build a deep learning model to predict churn rate at bank using ANN.

2) Once model is built, print classification report and analyze precision, recall and f1-score